.SpaceWindow {
	background : #29AAE1;
  	background : rgba(41, 170, 225, 0.1);
  	text-align: center;
	border-style : Solid;
  	border-color : #00FFFF;
  	border-color : rgba(0, 255, 255, 1);
  	float: left
}
.mainWindow {
    height: 85%; 
    position: relative; 
    z-index: 1; 
    top:-5%;
    border-width: 0px 5px 0px 5px;
    -moz-border-radius : 15px;
    -webkit-border-radius : 15px
  			
}
.mainTitle {
    left:40%;  
	width: 20%;
    position: relative; 
	z-index: 5;
    text-align: center
}
.mainTitle:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.statusBar {
	background-color: #000000; 
	-moz-border-radius : 10px;
    -webkit-border-radius : 10px;
	border-style : Solid;
  	border-color : #FFFFE0;
  	border-width: 0px 5px 0px 5px; 
    height:10%;
  	top: 0%;
    overflow: hidden
}


.consoleBar {
	background-color: #000000; 
	-moz-border-radius : 7px;
    -webkit-border-radius : 7px;
	border-style : Solid;
  	border-color : #FFFFE0;
  	border-width: 0px 3px 0px 3px; 
  	text-align: center;
  	font-size: 100%;
  	color: white;
  	height:7%;
  	bottom: 3%;
  	overflow: hidden;  
  	float: left;
    text-align: center;
    vertical-align: middle;
}
.consoleInput{
    color: aqua;
    font-family: Neuropoliticalrg;
    text-align: left;
    width:100%; 
    height:40%; 
    position: relative; 
}
.consolWindow {
    height:10%; 
    position: relative;
    z-index: 1;
    bottom:5%;
    border-width: 0px 5px 0px 5px;
    -moz-border-radius : 15px;
    -webkit-border-radius : 15px;
    text-align: center
    
}
.formInput {
    width: 100%;
    height: 100%;
    position: relative;
    top:30%
}

.contentCrew{
    background : rgba(41, 170, 225, 0.2);
    position:relative; 
    left:1%;
    top:8%;
    height:85%;
    width:98%;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px
}
.spaceRowCrew { 
    height:100%;
    background-color:rgba(124, 252, 0, 0.3);
    -moz-border-radius : 7px;
    -webkit-border-radius : 7px;
    border-style: solid;
    border-color: greenyellow;
    overflow-y: scroll;
    
}
.spaceColumm{
    position:relative; 
    height:10%;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: greenyellow
}
.spaceRow{
    background-color: rgba(84, 255, 159, 0.4);
    border-style: solid;
    border-width: 3px;
    border-color: rgba(84, 255, 159, 1);
    -moz-border-radius : 4px;
    -webkit-border-radius : 4px;
    
}
.descrip{
    height: 100%;
    position: relative;
    display: inline-block;
    
}

.img_middle {
    border-color:blue; 
    border-style:solid; 
    border-width: 3px; 
    width:80%;  
    position:relative;
    left: 10%;
    top: 13%;
}
.con_descrip {
    border-color: blue; 
    border-style: solid; 
    border-width: 3px;
    border-radius: 5px;
    background-color: rgba(124, 252, 0, 0.5);
}




