{% load staticfiles %}
 <link type="text/css" rel="stylesheet" href="{% static 'css/basestylesheet.css' %}"/>
 <link rel="stylesheet" type="text/css" href="{% static 'css/desktop.css' %}" />
 <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
 <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
 <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}" />
 <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}" />