{% extends "base.html" %}
{% block headtitle %} {{ title }} | {{ block.super }} {% endblock %}
{% block head %}

{% endblock %} 
{% block desktop %}
	<div class ="row" style="height: 74%";>
		<div class="mainTitle statusBar"></div>
		<div class='SpaceWindow col-xs-12 col-md-12 mainWindow'>
		    <div class="SpaceWindow contentCrew container-fluid">
                {% if status %}
                    {% if request.session.view == 'Crew' %}
                        {% include "include/crew.html" %}
                    {% else %}
                    <div style="position:relative"><p>{{ title }}</p></div>
                    {% endif %}
                    
                {% else %}
                     <div style="position:relative"><p>{{ title }}</p></div>
                {% endif %}
            </div>
        </div>
	    <div class="mainTitle consoleBar">
	        <span class="spanBar">Console</span>
	    </div>
		<div class="SpaceWindow col-xs-12 col-md-12 consolWindow">
            <form class="formInput" method="get" action=""><input type="text" class="SpaceWindow consoleInput" name=console/>
            </form>
        </div>
	</div>
{% endblock %}
