{% extends "base.html" %}
{% block headtitle %} {{ title }} | {{ block.super }} {% endblock %}
{% block head %}

{% endblock %} 
{% block desktop %}
	<div class ="row" style="height: 74%";>
		<div class="mainTitle statusBar"><span class='spanBar'>{{ title }}</span></div>
		<div class='SpaceWindow col-xs-12 col-md-12 mainWindow'>
		    {% block main_window %}
           
            {% endblock %}
        </div>
	    <div class="mainTitle consoleBar">
	        <span class="spanBar">Console</span>
	    </div>
		<div class="SpaceWindow col-xs-12 col-md-12 consolWindow">
            <form class="formInput" method="get" action=""><input type="text" class="SpaceWindow consoleInput" name=console/>
            </form>
        </div>
	</div>
{% endblock %}
